/* Journey List View */

.journey-list-component, .add-journey-component {
  margin: 10px;
  align-content: center;
  text-align: center;
}

.add-journey-button, .back-button {
  border: 3px solid white;
}

.journey-list {
  display: inline-block;
}

.journey-list-item {
  height: 200px;
  width: 200px;
  margin: 5px;
  background-color: #222;
  color: white;
  opacity: 0.5;
  border: 3px solid white;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
}

.journey-list-item-title {
  font-size: 20px;
  margin-top: 80px;
  color: white;
  width: inherit;
  position: absolute;
  object-fit: cover;
  vertical-align: middle;
}

/* Add Journey View */

.add-journey-header {
  display: inline-block;
}
