
.map-wrapper {
    width: 100%;
    height: 550px;
    position: relative;
}

.live-map {
    margin: 20px;
    height: 100%;
    width: 100%;
}

.button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.button-start-journey {
    width: 100%;
    height: 100%;
}

.journey-intro-component {
    height: 450px;
}

.moment-photos {
    height: 200px;
}

.moment-photo {
    width: 250px;
    object-fit: contain;
}

.sidebar {
    /* display: none;*/
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.main {
    padding: 5px;
    padding-bottom: 100px;
    width: 700px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.breakpoint-current {
    left: 0;
    margin-top: -10px;
    position: fixed;
    /* top: 33.3333%; */
    width: 3px;
    height: 3px;
    background: red;;
}

.viewing {
    background: #eee;
}

section {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}